* {
    margin: 0;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: url(../images/donation2.jpg);
    background-color: #707070;
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}


.header {
    padding-top: 174px;

    color: #FFF;
    text-align: center;

    font-family: Inter;
    font-size: 65px;

    font-weight: 700;

}

.header-dis {
    margin-top: 20px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 46px;
}

.btn-center {
    text-align: center;
    padding-bottom: 175px;
}

.btn-primary {

    border-radius: 5px;
    background: #FF5959;
    color: #FFF;
    padding: 16px 12px;
    font-size: 20px;
    font-weight: 600;

}

/* donation amount style*/
.donation-amount {
    text-align: center;
}

.donation-header {
    color: #121212;
    font-size: 45px;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 20px;
}

.donation-dis {
    color: #707070;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}

.container {
    display: flex;
    gap: 22px;
    justify-content: center;




}

.tk {
    color: #707070;
    background: #FAFAFA;
    font-size: 30px;
    font-weight: 700;
    width: 100px;
    text-align: center;
    padding: 43px 24px 44px 25px;
    margin-bottom: 60px;

}

span {
    color: #FF5959;

}

.input-tk {
    text-align: center;
}



section .input {
    color: #B3B3B3;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    border-bottom: #FF5959 2px solid;


    margin-bottom: 30px;


}

.input-style {
    border: none;

    height: 30px;
    padding-bottom: 5.5px;

}

/* donate plan */

.plan-header {
    text-align: center;
    color: #121212;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    margin-top: 130px;
    margin-bottom: 20px;

}

.plan-dis {
    text-align: center;
    color: #707070;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;

}

.plan-container {
    display: flex;
    gap: 24px;
    justify-content: center;

}

.plan-container .food {

    border-radius: 5px;
    background: rgba(79, 157, 166, 0.10);
    padding: 30px;
}

.plan-container .title {
    color: #121212;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding: 23px;


}

.plan-container .dis {
    color: #707070;

    font-size: 16px;

    font-weight: 400;
    padding: 24px;


}

.plan-container .family {
    border-radius: 5px;
    background: rgba(255, 89, 89, 0.10);
    padding: 30px;
}

.plan-container .edu {
    border-radius: 5px;
    background: #FFF4D6;
    padding: 30px;
}

/* your cotribution */
.contribute {
    margin-top: 150px;
    padding: 157px;
    background-image: url(../images/donation10.jpg);
    background-repeat: no-repeat;
    background-position: right 150px center;
    background-size: 30%;
}

.con-header {
    color: #121212;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    width: 492px;

    margin-bottom: 20px;
}

.con-dis {
    color: #707070;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    width: 482px;
}

.contribute2 {
    margin-top: 100px;
    background-image: url(../images/donation13.jpg);
    background-repeat: no-repeat;

    background-position: left 170px center;
    background-size: 30%;
    padding-left: 600px;

}

.con-header2 {
    color: #121212;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    width: 492px;

    margin-bottom: 20px;


}

.con-dis2 {
    color: #707070;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 30px;
    width: 482px;



}

.update {
    text-align: center;
    margin-top: 130px;
}

.up-hader {
    color: #121212;

    font-size: 45px;

    font-weight: 700;
    margin-bottom: 20px;
}

.up-dis {
    color: #707070;

    font-size: 18px;

    font-weight: 400;
}

.up-in {

    margin-top: 50px;
    background: #FFF4D6 200px;
    padding: 76px;

}

.email {
    border-radius: 5px 0px 0px 5px;
    background: #D9D9D9;
    color: #AA9F9F;
    border: none;
    font-size: 16px;
    
    font-weight: 500;
    width: 275px;
    height: 48px;
    padding-left: 10px;

}

.submit-btn {
    border-radius: 0px 5px 5px 0px;
    background: #FF5959;
    width: 157px;
    height: 48px;
    padding: 10px;
    color: #FFF;
    font-size: 16px;

    font-weight: 500;
    border: none;

}
footer{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}